# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment files
.env
.env.*

# Flask / SQLite
instance/
*.db
*.sqlite3

# Logs
*.log

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Migrations (optional if you don't want to track them)
migrations/

seed.py